#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
}
.logo:hover {
}
.logo.react:hover {
}

@keyframes logo-spin {
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
